# Global Owners
*Ctrl_Alt_Haze, Christopher Dyer

# Component Specific
/FractalBridge/Ctrl_Alt_Haze, Christopher Dyer
/FractalCore/Ctrl_Alt_Haze, Christopher Dyer
/FractalServe/Ctrl_Alt_Haze, Christopher Dyer
/FractalStreamer/Ctrl_Alt_Haze, Christopher Dyer
/FractalGnnRouter/Ctrl_Alt_Haze, Christopher Dyer
/FractalBltEncoder/Ctrl_Alt_Haze, Christopher Dyer
/docs/Ctrl_Alt_Haze, Christopher Dyer
/src/Ctrl_Alt_Haze, Christopher Dyer
/tests/Ctrl_Alt_Haze, Christopher Dyer


